#changetip-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 99999999;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-top: 20px;
}
#changetip-popup .changetip-comment-text {
  display: none !important;
}
#changetip-popup .changetip-iframe {
  display: inline-block;
  height: 860px;
  width: 100%;
}
#changetip-popup .changetip-iframe iframe {
  display: inline-block;
  width: 600px;
  height: 100%;
  max-width: 90%;
  max-height: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
#changetip-social-button {
  padding: 15px 0;
}
.changetip_tipme_button {
    margin: 1em 0;
    position: relative;
    z-index: 1;
}
.changetip_tipme_button.pos-top {
    z-index: 2;
}
@media only screen and (max-width: 1005px) {
  #changetip-popup {
    padding-top: 10px;
  }
  #changetip-popup .changetip-iframe {
    height: 700px;
  }
  #changetip-popup .changetip-iframe iframe {
    max-width: 95%;
  }
}
@media only screen and (max-width: 767px) {
  #changetip-popup .changetip-iframe {
    height: 700px;
  }
  #changetip-popup .changetip-iframe iframe {
    max-width: 98%;
  }
}
@media only screen and (max-width: 315px) {
  #changetip-popup .changetip-iframe {
    height: 600px;
  }
}
